# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{csproj,config,manifest,resx,settings,xml}]
indent_size = 2

[*.{md,txt}]
trim_trailing_whitespace = false

[*.sln]
indent_style = tab

[*.cs]
# Use PascalCase for type/member names
dotnet_naming_rule.types_should_be_pascal_case.symbols = type_symbols
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case_style
dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_symbols.type_symbols.applicable_kinds = class, struct, interface, enum, delegate
dotnet_naming_style.pascal_case_style.capitalization = pascal_case

# Use _ prefix for private fields
dotnet_naming_rule.private_fields_should_be_camel_with_prefix.symbols = private_field_symbols
dotnet_naming_rule.private_fields_should_be_camel_with_prefix.style = camel_case_underscore_style
dotnet_naming_rule.private_fields_should_be_camel_with_prefix.severity = suggestion
dotnet_naming_symbols.private_field_symbols.applicable_kinds = field
dotnet_naming_symbols.private_field_symbols.applicable_accessibilities = private
dotnet_naming_style.camel_case_underscore_style.required_prefix = _
dotnet_naming_style.camel_case_underscore_style.capitalization = camel_case
